
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}
@media (prefers-reduced-motion: no-preference) {
    @keyframes slideIn{
        from{transform: scaleX(0);}
        to{transform: scaleX(1);}
    }
    @keyframes pop{
        0%{transform: translateY(0);}
        50%{transform: translateY(-1vmin);}
        100%{transform: translateY(0);}
    }
    @keyframes spin{
        from{}
        to{transform:rotate(360deg);}
    }
    @keyframes sunlight{
        0%{background-position: top right;}
        50%{background-position: bottom left;}
        100%{background-position: top right;}
    }
    @keyframes clouds{
        0%{background-position: center right;}
        50%{background-position: center left;}
        100%{background-position: center right;}
    }
  }
