:root{
    --weather-white: lightcyan;
    --weather-blue: skyblue;
    --weather-dark-blue: deepskyblue;
    --weather-night-blue: darkblue;
    --weather-gray: slategray;
    --weather-dark-gray: rgb(67, 77, 99);
    --weather-purple: #302f81;
    --weather-yellow: yellow;
}

/* Weather Theme */
[data-eventide]{
    background-size: cover;
    background-position: center center;
}
[data-eventide="day"]{
    background-color: var(--value-light);
}
[data-eventide="night"]{
    background-color: var(--value-mid);
}
[data-phenom="normal"][data-eventide="day"]{
    background-image: url(assets/prints/normal/day/A\ Fairy\ Moon\ and\ a\ Lonely\ Shore\,\ Unknown.webp);
}
[data-phenom="normal"][data-eventide="night"]{
    background-image: url(assets/prints/normal/night/Full\ Moon\ Over\ a\ Mountain\ Landscape\,\ Hiroshige.webp);
}
[data-phenom="rain"][data-eventide="day"]{
    background-image: url(assets/prints/rain/day/Sudden\ Shower\ at\ Shōno\,\ Hiroshige.webp);
}
[data-phenom="rain"][data-eventide="night"]{
    background-image: url(assets/prints/rain/night/Evening\ Rain\ at\ Karasaki\,\ Pine\ Tree\,\ Hiroshige.webp);
}
[data-phenom="overcast"][data-eventide="day"]{
    background-image: url(assets/prints/cloudy/day/Shimabara\ Kujukushima\,\ Kawase\ Hasui.webp);
}
[data-phenom="overcast"][data-eventide="night"]{
    background-image: url(assets/prints/cloudy/night/Above\ the\ Clouds\,\ Yoshida\ Hiroshi.webp);
}
[data-phenom="foggy"][data-eventide="day"]{
    background-image: url(assets/prints/foggy/day/Morning\ Mist\,\ Hiroshige.webp);
}
[data-phenom="foggy"][data-eventide="night"]{
    background-image: url(assets/prints/foggy/night/Misty\ Mountains\,\ Suzuki\ Shonen.webp);
}
[data-phenom="snow"][data-eventide="day"]{
    background-image: url(assets/prints/snow/day/Snow\ at\ Itsukushima\,\ Kawase\ Hasui.webp);
}
[data-phenom="snow"][data-eventide="night"]{
    background-image: url(assets/prints/snow/night/The\ Gion\ Shrine\ in\ Snow\,\ Hiroshige.webp);
}