:root{
    --weather-white: lightcyan;
    --weather-blue: skyblue;
    --weather-dark-blue: deepskyblue;
    --weather-night-blue: darkblue;
    --weather-gray: slategray;
    --weather-dark-gray: rgb(67, 77, 99);
    --weather-purple: #302f81;
    --weather-yellow: yellow;
}

/* Weather Theme */
[data-phenom]::after{
    content: "";
    position: absolute;
    inset: 0 0;
}
[data-phenom]{
    border: .6em solid var(--value-light);
    filter: drop-shadow(.2em .2em 0px rgba(43, 39, 9, 0.925));
}
[data-phenom="overcast"]::after{
    outline: .25em solid var(--value-light);
    outline-offset: -1em;
    border-radius: 50%;
}
[data-phenom="rain"]{
    background-color: var(--value-light);
}
[data-phenom="foggy"]::after{
    outline: 1em solid var(--value-light);
    outline-offset: -3em;
    border-radius: 50%;
}
[data-phenom="thunder"]::after{
    border-radius: 40%;
    background-color: var(--value-light);
    clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
}
[data-phenom="snow"]::after{
    top: -.38em;
    content:"△";
    font-size: 7em;
    text-shadow: none;
}
[data-eventide]{
    background-size: cover;
    background-position: center left;
}
[data-eventide="day"]{
    background-color: var(--value-light);
}
[data-eventide="night"]{
    background-color: var(--value-mid);
}